body {
  margin: 0;
  font-family: 'Post No Bills Colombo', serif;
}

.splash-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--pbg-grad);
}

.mainpage {
  min-height: 100vh;
  background: var(--pbg-grad);
}

.splash-text {
  font-size: 4rem;
  color: white;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.floating-content.landing {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}