/* src/global.css */

/* global color variables ====================================== */
:root {
  --light-blue-background: #c7d3ff; /* used for search bar as well as some pages */ /* search bar 80% opacity */
  --light-purple-button: #ba68c8;
  --off-purple-unselected-button: #8163d6; /* 15% opacity */
  --light-card-background: #f2f4fe;
  --dark-purple-menu: #28004a;
  --gray-background: #eeeeee;
  --menu-background: #edf0fc;
  --pbg-grad: linear-gradient(#2c0a61, #4f0067, #600262);
  --top-navbar-height: 50px;
  --bottom-navbar-height: 60px;

  /* stuff from default index.css - not 100% sure what to keep */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ============================================================= */
/* other universal stuff... ==================================== */

/* common styling for the MAIN component among most pages */
.mainpage {
  display: flex;
  flex-direction: column;
  padding-top: var(--top-navbar-height);
  padding-bottom: var(--bottom-navbar-height);
  min-height: 100vh;
  width: 100%;
}

/* main content blocks */
.floating-content {
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
  border-radius: 40px;
  padding: 20px;
}

/* Buttons ===================================================== */
button {
  font-size: 24px;
  font-weight: 800;

  box-sizing: border-box;
  margin: 15px 0px; /* top-bottom, left-right */
  /* width: 100%; */
  padding: 10px; /* gets the height proper */

  border-radius: 40px;

  /* from original index.css */
  cursor: pointer;
  transition: border-color 0.25s;
}

/* from original index.css */
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.test-link {
  width: 80%;
}

/* button C O L O R S */
.button-white {
  background-color: white;
  color: black;
}
.button-pink {
  background-color: var(--light-purple-button);
  color: white;
  width: 100%;
}

/* home page =================================================== */
.homepage-image {
  background: #ffffff55;
  margin: 20px;
  /* width: 90%; */
}

.homepage {
  width: 100vw;
  /* justify-content: center; */
  /* align-self: center; */
  /* margin: auto; */
  /* align-items: center; */
  margin-bottom: 150px;
}

/* personality test ============================================ */
.personality {
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  background-color: var(--light-blue-background);
}

.personality-inset {
  display: flex;
  justify-content: space-evenly;
}

/* Bottom Navbar =============================================== */
.bottom-navbar {
  background-color: var(--menu-background);
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 999;
}

.bottom-navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 10px 0 0 0;
}

/* Top Navbar ================================================== */
.top-navbar {
  background-color: var(--dark-purple-menu);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
}

.top-navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 10px 0;
}

.test-white {
  /* just exists so we can see the menu text for the time being */
  color: white;
}
