/* src/global.css */

/* =============================== global color variables etc ================================== */
:root {
  --light-blue-background: #c7d3ff; /* used for search bar as well as some pages */ /* search bar 80% opacity */
  --light-purple-button: #ba68c8;
  --off-purple-unselected-button: #8163d6; /* 15% opacity */
  --light-card-background: #f2f4fe;
  --dark-purple-menu: #28004a;
  --gray-background: #eeeeee;
  --menu-background: #edf0fc;
  --pbg-grad: linear-gradient(#2c0a61, #4f0067, #600262);
  --top-navbar-height: 44px;
  --bottom-navbar-height: 90px;

  /* stuff from default index.css - not 100% sure what to keep */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

/* element:focus {
  outline: none;
} */

/* =============================== ============================================================= */
/* =============================== other universal stuff... ==================================== */

/* common styling for the MAIN component among most pages */
.mainpage {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;

  padding-top: var(--top-navbar-height);
  padding-bottom: var(--bottom-navbar-height);
}

/* main content blocks */
.floating-content {
  margin: 10px;
  border-radius: 40px;
}

/* =============================== headings ==================================================== */
.heading-no-bills {
  font-size: 64;
  color: white;
  text-align: center;
}

/* =============================== White form ================================================== */
/* sign up, sign in, edit account */
.white-form {
  background-color: white;
  padding: 20px 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.white-form > * {
  padding: 10px;
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
  font-size: 16;
}

input {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 16;
}

input:focus,
input:focus-visible {
  outline: 1px solid #3c9afb;
}

/* =============================== Buttons ===================================================== */
button {
  font-size: 24px;
  font-weight: 800;
  box-sizing: border-box;
  margin: 10px 0px; /* top-bottom, left-right */
  width: 100%;
  padding: 10px; /* gets the height inside the button proper */
  border-radius: 40px;

  cursor: pointer;
  transition: border-color 0.25s;
  /* box-shadow: ; */
}

/* from original index.css */
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* button C O L O R S */
.button-white {
  background-color: white;
  color: black;
}
.button-pink {
  background-color: var(--light-purple-button);
  color: white;
  width: 100%;
}

/* =============================== home page =================================================== */
.homepage-image {
  background: #ffffff55;
  padding: 20px;
}

/* =============================== personality test ============================================ */
.personality {
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue-background);
  justify-content: space-evenly;
  padding: 20px;
}

.personality > img,
a {
  margin: 40px 0px;
}

/* =============================== Bottom Navbar =============================================== */
.bottom-navbar {
  background-color: var(--menu-background);
  position: fixed;
  padding: 0;
  margin: 0;
  bottom: 0;
  width: 100vw;
  z-index: 999;
}

.bottom-navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 10px 0 0 0;
}

/* =============================== Top Navbar ================================================== */
.top-navbar {
  background-color: var(--dark-purple-menu);
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
}

.top-navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 10px 0;
}

.test-white {
  /* just exists so we can see the menu text for the time being */
  color: white;
}
