/* src/global.css */

@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap");

/* =============================== global color variables etc ================================== */
:root {
  --light-blue-background: #c7d3ff; /* used for search bar as well as some pages */ /* search bar 80% opacity */
  --light-purple-button: #ba68c8;
  --off-purple-unselected-button: #8163d6; /* 15% opacity */
  --light-card-background: #f2f4fe;
  --dark-purple-menu: #28004a;
  --gray-background: #eeeeee;
  --menu-background: #edf0fc;
  --pbg-grad: linear-gradient(#2c0a61, #4f0067, #600262);
  --top-navbar-height: 85px;
  --bottom-navbar-height: 90px;
  --avatar-size: 300px;

  /* stuff from default index.css - not 100% sure what to keep */
  /* font-family: system-ui, Helvetica, Arial, sans-serif; */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

/* element:focus {
  outline: none;
} */

/* =============================== ============================================================= */
/* =============================== other universal stuff... ==================================== */

/* common styling for the MAIN component among most pages */
.mainpage {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;

  padding-top: var(--top-navbar-height);
  padding-bottom: var(--bottom-navbar-height);
}

/* main content blocks */
.floating-content {
  margin: 10px;
  border-radius: 40px;
}

.flex-box {
  display: flex;
  flex-direction: column;
}


/* =============================== headings ==================================================== */
.heading-no-bills {
  font-size: 64;
  color: white;
  /* text-align: left; */
  text-align: center;
  font-family: "Stick No Bills", sans-serif;
}

/* =============================== explore ===================================================== */
.explore-list {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.youtube-div {
  background-color: #8163d620;
  height: 430px;
  width: 190px;
}

.carousel-div {
  background-color: #8163d620;
  height: 300px;
  width: 190px;
}

.youtube-thumbnail {
  width: 190px;
  border-radius: 8px;
}

.youtube-title {
  font-size: 14;
  font-weight: bold;
  margin: 0;
}

.youtube-views {
  font-size: 12;
  margin: 5px 0;
}

.learn-more {
  width: 200px;
}

/* =============================== NavTab ====================================================== */

.navtab {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  bottom: 0;
}

.button-navtab {
  color: white;
  background-color: var(--light-purple-button);
  font-size: 16;
  border-radius: 100px;
  font-weight: bold;
  padding: 0.3em 1.3em;
}

/* =============================== White form ================================================== */
/* sign up, sign in, edit account */
.white-form {
  background-color: white;
  padding: 20px 10px;
  box-shadow: #ffffff90 0px 6px 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.white-form > * {
  padding: 10px;
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
  font-size: 16;
}

input {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 16;
}

input:focus,
input:focus-visible {
  outline: 1px solid #3c9afb;
}

/* =============================== Buttons ===================================================== */
button {
  cursor: pointer;
  transition: border-color 0.25s;
}

/* from original index.css */
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-avatar {
  /* fill: none; */

  font-size: 30;
}

.button-dixie {
  color: white;
  background-color: var(--dark-purple-menu);
  padding: 1em;
  font-size: 15;
  border-radius: 20px;
  width: 100%;
  margin: 0 0 20px 0;
}

/* button C O L O R S */
.button-white,
.button-pink {
  font-size: 24px;
  font-weight: 800;
  box-sizing: border-box;
  margin: 10px 0px; /* top-bottom, left-right */
  width: 100%;
  padding: 10px; /* gets the height inside the button proper */
  border-radius: 40px;
  border: none;
  box-shadow: #999999 0px 4px 8px;
}

.button-white {
  background-color: white;
  color: black;
}
.button-pink {
  background-color: var(--light-purple-button);
  color: white;
  width: 100%;
}

/* =============================== avatar ====================================================== */
.avatar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-parent,
.avatar-parent > * {
  position: relative;
  width: var(--avatar-size);
  height: var(--avatar-size);
}

.avatar-circle {
  position: relative;
  background-color: var(--light-blue-background);
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  top: 0;
  left: 0;
}

.avatar-image {
  width: var(--avatar-size);
  height: var(--avatar-size);
  top: -300px;
  left: 0;
  /* border-radius: 50%; */ /* TBD - hi-res doesn't have it */
}

/* =============================== home page =================================================== */
.homepage-image {
  background: #ffffff55;
  padding: 20px;
}

/* =============================== personality test ============================================ */
.personality {
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue-background);
  justify-content: space-evenly;
  padding: 20px;
}

.personality > img,
a {
  margin: 40px 0px;
}

/* =============================== landing ===================================================== */
.landing {
  align-self: center;
}

/* =============================== message ===================================================== */
.message {
  color: white;
}

/* =============================== Bottom Navbar =============================================== */
.bottom-navbar {
  background-color: var(--menu-background);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  z-index: 999;
}

.bottom-navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 10px 0 0 0;
}

/* =============================== Top Navbar ================================================== */
.top-navbar {
  background-color: var(--dark-purple-menu);
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
}

.top-navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 10px 0;
}

.test-white {
  /* just exists so we can see the menu text for the time being */
  color: white;
}


